.App {
  text-align: center;
}

header {
  text-align: left;
  padding: 20px 20px;
  background-color: #505050;
}

.Logo {
  color: white;
  margin-left: 20px;
}

.Logo-Blue {
  color: #38B4FA;
}

.Title {
  text-align: left;
  padding-left: 40px;
  padding-top: 40px;
  font-size: 2em;
  font-weight: 500;
}

.products {
  text-align: left;
  padding: 40px;
}

.rating {
  display: flex;
  align-items: center;
}
.rating h3 {
  padding-right: 10px;
}

.product {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product h2 {
  margin-bottom: 0;
}

.product p {
  margin-top: 0;
} 

.product .rating .rating-pip {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C8C8C8;
  margin-right: 5px;
}

.product .rating .rating-pip:hover {
cursor: pointer;
}

.product .rating .rating-pip.active {
  background-color: #38B4FA;
}

hr {
  margin: 40px -100px 0 -100px;
}